---
whiskers:
  version: "^2.6.1"
  matrix:
    - flavor
  filename: "themes/{{ flavor.identifier }}.conf"
---
{%- set palette = flavor.colors -%}
general {
        colors = true
        color_good = "#{{ palette.green.hex }}"
        color_degraded = "#{{ palette.peach.hex }}"
        color_bad = "#{{ palette.red.hex }}"
        interval = 5
}
